<!-- This is a base (parent) HTML page that serves for inheritance-->
<!DOCTYPE html>
<html lang="en">
<style>
    nav {
        display: flex;
        background-color:#ff6f61;

    }

    .navbar-brand{
        padding-left: 10px;
        font-size: 20px;
        background: #005ea8;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title%} <title>Hello World</title> {% endblock%}
</head>
<body>
{% block content %}
<div>
{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">DatingApp</a>
    {% if loggedIn %}
    <a class="navbar-brand" href="{% url 'logout' %}">LogOut</a>
    {% else %}
    <a class="navbar-brand" href="{% url 'signup' %}">Login / Signup</a>
    {% endif %}
</nav>
{% endblock %}
<!--
<body>
    <h3>MAIN PAGE HERE </h3>
</body>
-->
    {% endblock  %}
</div>
</body>
</html>
